.toDoList{
    background-color: maroon;
    color: royalblue;
    border: 5px solid black;
}
.toDo{
    border: 10px dotted red;
}
.button{
    background-color: aqua;
}
.reset{
    color: red;
}
.remove{
    color: red;
}